h1{font-size: 36px;}



p{
    font-size: 20px;
 }
 
 ul{ font-size: 19px;}

 table{ font-size: 20px;}

 
  ul{ color:saddlebrown;}
  
   a href{font-size: 15px;}
  
  #cor{color:saddlebrown}

  .vermelho{color:saddlebrown;}

ol{font-size: 19px;}
ol{color:saddlebrown;}

